b{
    color: white;
}

table {
    width: 100%; /* Gør tabellen responsiv */
    border-collapse: collapse; /* Fjerner dobbeltkantede border */
    background-color: rgb(128,128,128,0.15) ; /* Baggrundsfarve */
    border-radius: 10px; /* Rundede hjørner */
    overflow: hidden; /* Sikrer, at indhold ikke flyder ud */
    margin: auto;
}

th, td {
    border: 1px solid white; /* Synlige hvide border */
    padding: 10px; /* Giver plads omkring teksten */
    text-align: left; /* Justerer tekst til venstre */
    color: white; /* Tekstfarve */
}

th {
    background-color: rgb(165,42,42,0.65); /* Mørkeblå baggrund til overskrifter */
    color: white;
    font-weight: bold;
}

td{
    color: black;
}

tr:hover {
    background-color: rgb(165,42,42,0.65); /* Effekt ved hover */
}

a {
    text-decoration: none; /* Fjerner understregning */
    color: black; /* Gør teksten sort */
}