form {
    display: grid;
    grid-column: 1/ -1;
    max-width: 600px;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 50px;
    padding: 40px; /* Giver lidt luft omkring indholdet */
}
