.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    justify-self: center;
    gap: 20px;
}

header {
    font-size: 25px;
    padding: 130px;
    background-image: url("../images/nyhavn.jpg");
    color: white;
    text-align: center;
}

.box{
    display: inline-block;
    padding: 20px;
    width: auto;
    background-color: rgb(165,42,42,0.35);
}

.box a{
    color: white;
    text-decoration: none;
}

.under-header {
    font-size: 18px;
    color: white;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

nav {
    background-color: rgb(165,42,42,0.65); /* sidste tal er gennemsigtighed*/
    color: white;
    grid-area: nav;
    padding: 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; /*nav bar ligger over resterende elementer når scroll*/
}

nav ul {
    display: flex;
    list-style: none;
    color: white;
    padding: 0;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none; /* Fjerner stegen */
    padding: 10px 25px;
}

nav a:hover{
    background-color: rgb(139,0,0,0.20);
}


footer {
    grid-column: 1/4;
    grid-row: 4;
    background-color:rgb(165,42,42,0.65);
    color: white;
    text-align: center;
    padding: 10px;
}



