.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-self: center;
    gap: 10px;
    min-height: 100vh; /* Fylder siden ud */
}

header {
    font-size: 25px;
    padding: 130px;
    background-image: url("../images/nyhavn.jpg");
    color: white;
    text-align: center;
}

.under-header {
    font-size: 13px;
    color: white;
    font-style: italic;
    text-align: center;
}

nav {
    background-color: rgb(165,42,42,0.65); /* sidste tal er gennemsigtighed*/
    color: white;
    grid-area: nav;
    padding: 1em 1em 1em;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; /*nav bar ligger over resterende elementer når scroll*/
}

nav ul {
    list-style: none;
    color: white;
    padding: 0;
    gap: 20px;
}

nav li {
    display: inline;
    margin-right: 1em;
}

nav a {
    color: white;
    text-decoration: none; /* Fjerner stegen */
    padding: 10px 15px;
}

nav a:hover{
    background-color: rgb(139,0,0,0.20);
}

footer {
    background-color:rgb(165,42,42,0.65)
    color: white;
    text-align: center;
    padding: 1em;
    grid-area: footer;
    width: 100%;
}
