h3 {
    text-align: center;
}

/* container for welcome box. Placering på selve skærmen og størrelse */
.welcome-box-container {
    grid-column: 1/ -1; /* Strækker den over hele rækken */
    grid-row: 1; /* Placerer den i første række */
    justify-self: center;
    width: 50%; /* Begrænser bredden */
    height: 40%; /* Begrænser højden */
}

/* indstillinger for udseende */
.welcome-box {
    background-color: rgb(128, 128, 128, 0.15);
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    justify-content: center;
}

img {
    border-radius: 50px;
}

h4 {
    text-align: center;
    color: black;
}

h4 a {
    text-decoration: none;
    color: black;
}

/* container for welcome box. Placering på selve skærmen og størrelse */
.image-box-container {
    display: grid;
    grid-row: 4;
    grid-template-columns: repeat(3, 1fr); /* 3 kolonner, der hver fylder lige meget */
    grid-gap: 20px; /* Afstand mellem bokse */
    width: 100%; /* Fylder hele bredden af containeren */
    margin-top: 50px; /* Placerer gridet lidt ned på skærmen */
    justify-items: center; /* Centrerer elementerne horisontalt */
}

/* selve udseendet */
.image-box-common {
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(128, 128, 128, 0.15);
    width: 100%; /* Sætter bredden til 100% af den tilgængelige kolonne */
    max-width: 350px; /* Maksimal bredde på hver boks */
    text-align: center; /* Centrerer teksten */
}


