.welcome-box{
    grid-column: 1/3;
    grid-row: 2;
    justify-self: center;
    margin-top: 100px;
    width: 550px;
    height: 420px;
    background-color: rgb(128,128,128,0.15);
    padding: 35px;
    border-radius: 50px;
    text-align: center;
}

.image-box-one{
    grid-row: 3;
    grid-column: 1;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50px;
    background-color:rgb(128,128,128,0.15);
    margin-left: 55px;
}

h3{
    text-align: center;
}

img{
    border-radius: 50px;
}

h4{
    text-align: center;
    color: black;
}

h4 a{
    text-decoration: none;
    color: black;
}

.image-box-two{
    grid-row: 3;
    grid-column: 2;
    margin-top: 100px;
    padding: 20px;
    width: 350px;
    margin-left: 60px;
    border-radius: 50px;
    background-color:rgb(128,128,128,0.15);
}

.image-box-three{
    grid-row: 3;
    grid-column: 2;
    margin-top: 100px;
    margin-left: 520px;
    padding: 20px;
    width: 350px;
    border-radius: 50px;
    background-color: rgb(128,128,128,0.15);
}


