<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Insert attraction</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<header>
    <h1><a th:href="@{/}">Tilføj attraction</a></h1>
</header>

<nav th:replace="fragments/navbar :: site-navbar"></nav>

<form th:action="@{/attractions/addAttraction}" th:method="post" th:object="${attraction}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"><br>
    <label for="description">description:</label>
    <textarea rows="5" cols="30" th:field="*{description}" id="description"></textarea><br>
    <button type="submit">submit</button>
</form>

<footer th:replace="fragments/footer :: site-footer"></footer>
</body>
</html>