<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/tags.css}">
</head>
<header>
    <h1><a th:href="@{/}">Tags</a></h1>
</header>
<nav th:replace="fragments/navbar :: site-navbar"></nav>

<div class="container">
    <main>
        <h2 th:text="${specific.name} + ' tags'"></h2>
        <p th:each="tag : ${specific.tags}" th:text="${tag.displayName}"></p>


        <div class="button">
            <a th:href="@{/attractions}">
                <button type="button">Tilbage</button>
            </a>
        </div>
    </main>
</div>
<footer th:replace="fragments/footer :: site-footer"></footer>
</html>