<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/description-box.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
</head>
<body>

<header>
    <div class="header-box">
        <h1><a th:href="@{/}">Tags</a></h1>
    </div>
</header>

<nav th:replace="fragments/navbar :: site-navbar"></nav>

<section>
    <div class="description-box">
        <h1 th:text="${specific.name} + ' tags'"></h1>
        <p th:each="tag : ${specific.tags}" th:text="${tag.displayName}"></p><br>


        <a th:href="@{/attractions}">
            <button type="button" class="button">Tilbage</button>
        </a>
    </div>
</section>

<footer th:replace="fragments/footer :: site-footer"></footer>

</body>
</html>