<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Information about attraction</title>
    <link rel="stylesheet" th:href="@{/css/General.css}">
</head>
<body>

<header>
    <h1><a th:href="@{/}">Information om attraction</a></h1>
</header>
<!-- th:replaces the current tag with the tag defining the fragment -->
<!-- :: site-navbar betyder "brug kun dette fragment"-->
<nav th:replace="fragments/navbar :: site-navbar"></nav>
<main>
    <p>Her skal være information om attraction</p>
    <p th:text="${specific.name}"/>
</main>
<!-- th:replaces the current tag with the tag defining the fragment -->
<!-- :: site-navbar betyder "brug kun dette fragment"-->
<footer th:replace="fragments/footer :: site-footer"></footer>

</body>
</html>


