<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Update attraction</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
</head>
<body>

<header>
    <div class="header-box">
        <h1><a th:href="@{/}">Update/Delete attraction</a></h1>
    </div>
</header>

<nav th:replace="fragments/navbar :: site-navbar"></nav>

<section>
    <form th:action="@{/attractions/update}" th:method="post" th:object="${attraction}">
        <input hidden th:field="*{id}">

        <label for="name">Navn:</label>
        <input readonly type="text" id="name"
               th:field="*{name}" th:value="*{name}"><br>

        <label for="description">Beskrivelse:</label>
        <textarea rows="6" cols="30" id="description"
                  th:field="*{description}" th:value="*{name}"></textarea><br>

        <label for="cities">By:</label>
        <select required name="cities" id="cities"
                th:field="*{cityId}">
            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"
                    th:selected="${attraction.getCityId()}"></option>}"/>
        </select><br>

        <label>Tags:<br>
            <input type="checkbox" name="Tags"
                   th:each="tag : ${tags}"
                   th:text="${tag.name}"
                   th:value="${tag.id}"
                   th:field="*{tagIds}"
                   th:checked="${attraction.getTagIds().contains(tag.id)}">
        </label><br>

        <button type="submit" class="button">Opdater</button>
        <br>
        <!-- {id} det er variablen,  (id=${attraction.id}) her binder du en variabel til en placeholder.
                Altså {id} -->
        <input class="button" type="submit" value="Slet"
               th:formaction="@{/attractions/delete/{id}(id=${attraction.id})}"/>
    </form>
</section>

<footer th:replace="fragments/footer :: site-footer"></footer>

</body>
</html>